<%- include('partials/header') %>
    <section class="congtainer__haut">
        <%- include('partials/menu-nav') %>
        <section class="container__header taille-grille">
            <div class="container__header-left reveal-left">
                <div class="container__header-decoration">
                    <img class="container__header-decoration-circle" src="/integration/elements/circle.svg" alt="">
                    <img class="container__header-decoration-line" src="/integration/elements/line-blue.svg" alt="">
                </div>
                <div class="container__header-text">
                    <h1 class="container__header-text-title white">Un bon design nait de <span class="bold blue">simplicité et de clarté</span></h1>
                    <p class="container__header-text-p white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a lectus sit amet est scelerisque elementum.</p>
                    <button class="container__header-text-btn btn btn-blanc" onclick="window.location.href = '/works';">Toutes mes créations<i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
                
            <div class="container__header-right reveal-right"></div>
    </section>
    <%- include('partials/menu-burger') %>
</section>
<section class="container__section">
    <div class="container__section-textscroll">
        <div class="scroll-left"><a href="#" class="link-scroll">UX-UI Design</a>   /   <a href="#" class="link-scroll">Développement web</a>    /    <a href="#" class="link-scroll">Création de logo</a>   /   <a href="#" class="link-scroll">Création de site vitrine</a></div>
    </div>
    <div class="container__section-textscroll">
        <div class="scroll-right"><a href="#" class="link-scroll">Création de site créatif</a>    /   <a href="#" class="link-scroll">Branding</a>    /   <a href="#" class="link-scroll">Création de charte graphique</a></div>
    </div>
</section>
<%- include('partials/realisations') %>
<%- include('partials/services') %>
<%- include('partials/about') %>
<section class="container__presantation">
    <div class="container__presantation-infos taille-grille">
        <div class="border-play">
            <div class="container__presantation-infos-btn-play"><i class="fa-solid fa-play"></i></div>
        </div>
    </div>
</section>
<%- include('partials/contact') %>
<%- include('partials/footer') %>