<%- include('partials/header') %>
<%- include('partials/menu-nav') %>
<%- include('partials/menu-burger') %>
<%- include('partials/breadcrumb') %>

<section class="container__page-works taille-grille">
    <div class="container__page-work-cards">
        <% for (const work of works) { %>
        <div class="container__page-work-card" style="background-image: url(<%=work.bgImg%>);">
            <p><%=work.category%></p>
            <h2><%=work.title%></h2>
        </div>
        <% } %>
    </div>
</section>

<%- include('partials/footer') %>