<%- include('partials/header') %>
<%- include('partials/menu-nav') %>
<%- include('partials/menu-burger') %>
<%- include('partials/breadcrumb') %>
<section class="container__works taille-grille">
    <div class="container__works-left" style="background-image: url('<%=workName.bgImg%>');">
        <div class="container__works-left-text">
           <span class="container__works-left-text-span">Le projet</span>
        </div>
    </div>
    <div class="container__works-right">
        <h2 class="container__works-right-h2 title-h2">A propos de <%=workName.title%></h2>
        <p class="container__works-right-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo ipsum ut purus molestie feugiat. Maecenas dolor mauris, sodales nec ultricies sit amet, fermentum in nibh. Proin scelerisque nisl ac ante hendrerit posuere. Integer porttitor risus rutrum urna porttitor, sit amet interdum orci mattis. Pellentesque habitant morbi
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo ipsum ut purus molestie feugiat. Maecenas dolor mauris, sodales nec ultricies sit amet, fermentum in nibh. Proin scelerisque nisl ac ante hendrerit posuere. Integer porttitor risus rutrum urna porttitor, sit amet interdum orci mattis. Pellentesque habitant morbi</p>
    </div>
</section>
<section class="container__maquette">
    <div class="container__maquette-all taille-grille">
        <div class="container__maquette-title">
            <div class="container__maquette-title-border"></div>
            <span class="container__maquette-title-text"><%=workName.type%></span>
        </div>
        <div class="container__maquette-img">
            <img src="<%=workName.img%>" alt="apercu de la maquette" class="container__maquette-img-width">
            <button class="btn btn-black">Découvrir le site web<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</section>
<section class="container__color">
    <div class="container__color-all taille-grille">
        <div class="container__color-all-style">
            <div class="container__color-all-style-title">Les styles</div>
            <!-- CARDS COLOR -->
            <div class="container__color-all-style-cards">
                <% for (const color of workName.style) { %>
                <!-- CARD COLOR -->
                <div class="container__color-all-style-card">
                    <div class="container__color-all-style-card-container" style="background-color:<%=color.hexa%>">
                        <span class="name-color"><%=color.titleColor%></span>
                        <span class="code-hexa"><%=color.hexa%></span>
                    </div>
                </div>
                <!-- CARD COLOR -->
                <% } %>
            </div>
            <!-- CARDS COLOR -->
        </div>
        <div class="container__color-all-typo">
            <% for (const typo of workName.typo) { %>
            <div class="container__color-all-typo-1" style="font-family:<%=typo.family%>">
                <h3 class="container__color-all-typo-1-title title-typo" style="font-weight:<%=typo.weight%>"><%=typo.titleTypo%></h3>
                <p class="container__color-all-typo-1-text text-typo" style="font-weight:<%=typo.weight%>">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz 1234567890 !$&)ç((-</p>
            </div>
            <% } %>
        </div>
    </div>
</section>
<section class="container__slide-realisations">
    <div class="container__slide-realisations-left">
        <h4 class="container__slide-realisations-left-title">Dodai</h4>
        <span class="container__slide-realisations-left-span"><i class="fa-solid fa-arrow-left"></i>Projet précedent</span>
    </div>
    <div class="container__slide-realisations-right">
        <h4 class="container__slide-realisations-right-title">Atlanti craft</h4>
        <span class="container__slide-realisations-right-span">Projet suivant<i class="fa-solid fa-arrow-right"></i></span>
    </div>
</section>
<%- include('partials/contact') %>
<%- include('partials/footer') %>